

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h6 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h6>
      <button type="button"  data-bs-dismiss="offcanvas" style="background: #14223b">
        <i class="fa-solid fa-xmark" style="    color: #fff;
        background: #14223b;"></i>
      </button>
    </div>
    <div class="offcanvas-body">
     
        <ul style="list-style: none;">
            <li style="cursor:pointer;line-height:50px" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" routerLink="/User/Userdashboard">
                <i class="fa-solid fa-gauge"></i>
                Dashboard
            </li>
            <li style="cursor:pointer;line-height:30px" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" routerLink="/User/Userbooklist">
                <i class="fa-solid fa-book"></i>
               Books
            </li>
        </ul>
     
      
    </div>
  </div>